#!/usr/libexec/platform-python

import rpm
import re
import sys
import subprocess

ver_test = sys.argv[1]

ver_current_name = re.sub("-[0-9].*", '', sys.argv[1]);

def get_ver_current(ver_current_name):
        rpm_out = subprocess.Popen(['rpm', '-q', ver_current_name],
                     stdout=subprocess.PIPE,
                     stderr=subprocess.STDOUT)
        stdout,stderr = rpm_out.communicate()
        if rpm_out.returncode != 0:
            print("ERROR, package query failed: returncode: {}, message: {}".format(rpm_out.returncode,stdout.decode()))
            sys.exit(1)

        else:
            return stdout.decode()

ver_current = get_ver_current(ver_current_name)


def rpm_compare(ver_test, ver_current):
    'compare two version strings and return -1, 0, 1 for less, equal, greater'
    return rpm.labelCompare(('', ver_test, ''), ('', ver_current, ''))


r=rpm_compare(ver_test,ver_current)

print("package tested: {}".format(ver_test))
print("package installed : {}".format(ver_current))

if r <= 0 :
    print("PASS, package_git tested version is equal or older than the one installed")
elif r > 0 :
    print("FAIL, package_tested version is newer than the one installed")
    sys.exit(1)
