[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Bugzilla Auto Verification Tool PoC
[access "refs/*"]
	owner = group user/Vadim Khitrin (vkhitrin)
	owner = group user/pinikomarov
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Vadim Khitrin (vkhitrin)
	label-Code-Review = -2..+2 group user/pinikomarov
	label-Verified = -1..+1 group user/Vadim Khitrin (vkhitrin)
	push = group user/Vadim Khitrin (vkhitrin)
	read = group user/Vadim Khitrin (vkhitrin)
	rebase = group user/Vadim Khitrin (vkhitrin)
	removeReviewer = group user/Vadim Khitrin (vkhitrin)
	submit = group user/Vadim Khitrin (vkhitrin)
[access "refs/heads/*"]
	create = group user/Vadim Khitrin (vkhitrin)
	push = +force group user/Vadim Khitrin (vkhitrin)
	pushMerge = group user/Vadim Khitrin (vkhitrin)
	read = group user/Vadim Khitrin (vkhitrin)
[access "refs/tags/*"]
	push = group user/Vadim Khitrin (vkhitrin)
	push = +force group user/Vadim Khitrin (vkhitrin)
