- name: Install pip using get-pip.py
  become: yes
  shell: |
      curl https://bootstrap.pypa.io/get-pip.py | {{ python_ver }}

- name: Install required packages
  become: yes
  vars:
    required_packages: ['{{ python_ver }}-virtualenv', 'git', 'gcc', '{{ python_ver }}-devel', 'wget']
  yum:
      name: "{{ required_packages }}"
      state: present

- name: "Ensure {{ dir }} doesn't exist"
  file:
    path: "{{ dir }}"
    state: absent

- name: Clone Tobiko project
  git:
      repo: 'https://github.com/rhos-infra/bzaf.git'
      dest: "{{ dir }}"
  when: test.refsec == ''

- name: Checkout specific gerrit patch
  git:
    repo: 'https://github.com/rhos-infra/bzaf.git'
    dest: "{{ dir }}"
    refspec: "{{ test.refsec }}"
    version: 'FETCH_HEAD'
  when: test.refsec != ''

- name: output current gerrit patch
  shell: |
        git log -n 1
  register: git_log
  args:
    chdir: "{{ dir }}"

- debug: var=git_log.stdout_lines
  when: test.refsec != ''

- name: Create Virtualenv
  vars:
      packages: ['pip', 'setuptools', 'tox']
  pip:
      virtualenv: "{{ venv }}"
      name: "{{ packages }}"
      state: latest

- name: Install Bzaf
  pip:
      chdir: "{{ dir }}"
      name: "."
      virtualenv: "{{ venv }}"
      editable: true

- name: line_in_file fix for bz1752148
  become: true
  lineinfile:
       path: /bin/tripleo-ansible-inventory
       regexp: '#!/usr/bin/python3 -s'
       line: '#!/usr/bin/python3'

- name: Create an overcloud inventory file
  shell: |
      source {{ ansible_env.HOME }}/stackrc
      tripleo-ansible-inventory --ansible_ssh_user heat-admin --static-yaml-inventory {{ dir }}/hosts.yaml

- name: Patch inventory file ^[A-Z] => ^[a-z]
  shell: |
      sed -i -e 's/\(^[A-Z]\)/\L\1/' {{ dir }}/hosts.yaml

- name: install rpm_compare_util on the openstack_nodes
  become: true
  delegate_to: "{{item}}"
  template:
    src: templates/rpm_compare.j2
    dest: /usr/bin/rpm_compare
    owner: root
    group: root
    mode: '0755'
  loop: "{{groups['openstack_nodes']}}"

- name: install rpm_compare util on all overcloud containers
  become: true
  delegate_to: "{{item}}"
  ignore_errors: true
  shell: |
      for i in `docker ps -q` ;do docker cp /usr/bin/rpm_compare $i:/tmp ;done
      for i in `docker ps -q` ;do docker exec $i sh -c "cp -v /tmp/rpm_compare/rpm_compare /usr/bin/ ";done
  loop: "{{groups['overcloud_nodes']}}"
